<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thrifting Shop | User Profile</title>
    <link rel="stylesheet" href="/css/userProfile.css">
  </head>
  <body>
    <div class="profile-container">
      <div class="profile-info">
        <div class="box-info">
          <h2>Profil Saya</h2>
          <div class="desc-info">
            Kelola Informasi Profil Pribadi Anda
          </div>
        </div>
        <form action="/user/account/profile" method="POST" enctype="multipart/form-data">
          <table class="form-table">
            <tr>
              <td class="lable-container">
                <label for="username">Username</label>
              </td>
              <td class="input-container">
                <div class="input">
                  <input type="text" id="username" name="username" value="<%= context.username %>">
                </div>
              </td>
            </tr>
            <tr>
              <td class="lable-container">
                <label for="name">Nama</label>
              </td>
              <td class="input-container">
                <div class="input">
                  <input type="text" id="name" name="name" value="<%= context.name %>">
                </div>
              </td>
            </tr>
            <tr>
              <td class="lable-container">
                <label for="email">E-mail</label>
              </td>
              <td class="input-container">
                <div class="input">
                  <input type="email" id="email" name="email" readonly value="<%= context.email %>">
                </div>
              </td>
            </tr>
            <tr>
              <td class="lable-container">
                <label for="mobile_phone">Nomor Telepon</label>
              </td>
              <td class="input-container">
                <div class="input">
                  <input type="tel" id="mobile_phone" name="mobile_phone" value="<%= context.mobile_phone %>">
                </div>
              </td>
            </tr>
            <tr>
              <td class="lable-container">
                <label for="gender">Jenis Kelamin</label>
              </td>
              <td class="input-container">
                <div class="radio-input">
                  <input type="radio" id="gender" name="gender"
                    value="Laki-laki" <%= context.gender === 'Laki-laki' ? 'checked' : '' %> >
                  <label for="gender">Pria</label>
                  <input type="radio" id="gender" name="gender"
                    value="Wanita" <%= context.gender === 'Wanita' ? 'checked' : '' %> >
                  <label for="gender">Wanita</label>
                </div>
              </td>
            </tr>
            <tr>
              <td class="lable-container">
                <label for="birthday">Tanggal Lahir</label>
              </td>
              <td class="input-container">
                <div class="input">
                  <input type="date" id="birthday" name="birthday" value="<%= context.birthday.toISOString().slice(0,10) %>">
                </div>
              </td>
            </tr>
            <tr>
              <td class="lable-container">
                <label for="foto">Foto Profil</label>
              </td>
              <td class="input-container">
                <div class="input">
                  <input type="file" id="foto" name="foto" value="<%= context.foto %>">
                </div>
              </td>
            </tr>
            <tr>
              <td class="lable-container"><label>
                <img style="width: 50px;" src="/img/<%= context.foto %>" alt="">
              </label></td>
              <td class="input-container">
                <div class="profile-actions">
                  <button type="submit">Simpan</button>
                </div>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
