<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-md-3 mb-3 mt-3">
      <%- include('../layouts/sidebarLayout') %> <!-- include sidebar from views/layouts/ -->
    </div>
    <div class="col-md-9 mb-3 mt-3">
      <div class="card shadow-sm mr-5">
        <div class="card-header pb-0">
          <div class="container-fluid">
            <div class="row row-cols-1 row-cols-md-2">
              <div class="col-lg-9">
                <h4>Alamat Saya</h4>
                <p>Pastikan Alamat Anda Benar dan Valid</p>
              </div>
              <div class="col-lg-3 mb-2 mt-3">
                <a class="btn btn-info p-2"
                  style="background-color: #f23567; border: #f23567;"
                  onMouseOver="this.style.outline='solid 1px #f23567'; this.style.background='#f5497b'; this.style.transform= 'scale(1.1)'; this.style.transition='transform 0.3s ease'"
                  onMouseOut="this.style.outline='none'; this.style.transform= 'none'; this.style.background='#f23567';"
                  href="/user/account/addresses/add">
                  <i class="fa fa-plus"></i> Tambah Alamat Baru</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <% if (context.addresses && context.addresses.length > 0) { %>
              <% context.addresses.forEach((address) => { %>
                <div class="card" style="box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.3);">
                  <div class="card-body pr-1">
                    <div class="row row-cols-1 row-cols-md-2">
                      <div class="col-lg-6">
                        <p style="color: #757594;"><%= address.addressDetail%>, <%=
                          address.subdistrict %>, <%= address.regency %>, <%=
                          address.province %>, ID, <%= address.postalCode %>
                        </p>
                      </div>
                      <div class="col-lg-3">
                        <!-- Row Space -->
                      </div>
                      <div class="col-lg-3">
                        <div class="d-flex align-items-center justify-content-center">
                          <form method="POST" action="/user/account/addresses/<%= address.id %>?_method=DELETE">
                            <div class="container pb-2 pt-3">
                              <a class="btn btn-warning mb-2" href="/user/account/addresses/<%= address.id %>">
                                <i class="fa fa-pencil"></i> Ubah</a>
                              <button class="btn btn-danger mb-2" type="submit" onclick="return confirm('Apakah Anda yakin ingin menghapus data ini?')">
                                <i class="fa fa-trash-o"></i> Hapus</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <p class="text-center">No addresses found.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>