<div class="container-fluid">
  <div class="card shadow mr-5 ml-5 mb-3 mt-3" style="background-color: #F8F9FA;">
    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        <div class="col-lg-6 mb-3 d-flex">
          <div class="container-fluid m-3">
            <img class="img-fluid m-1" style="width: 100%; max-width: 500px; outline: solid 1px #f23567; border-radius: 5%;" src="/img/products/<%= context.product.foto %>" alt="Foto Produk">
          </div>
        </div>
        <div class="col-lg-6 mb-3 d-flex">
          <div class="container-fluid m-3 shadow-sm">
            <div class="container mb-4 mt-3">
              <h3><%= context.product.item_name %> | <%= context.product.itemCategory %> | <%= context.product.brand %></h3>
            </div>
            <hr>
            <div class="container-fluid p-2 mb-2" style="background-color: #f6f6f6;">
              <h2 style="color: #f23567;" class="pl-3">Rp <%= context.product.price %></h2>
            </div>
            <div class="container-fluid  p-2">
              <table class="table table-borderless">
                <tr>
                  <th colspan="2">Alamat Pengirim : </th>
                  <th></th>
                </tr>
                <% context.sellerAddress.forEach((address) => { %>
                <tr class="m-0">
                  <td></td>
                  <td style="padding: 0 20px;"><ul><li><%= address.province %>, <%= address.regency %>, <%= address.subdistrict %>, <%= address.addressDetail %></li></ul></td>
                </tr>
                <% }) %>
              </table>
            </div>
            <div class="container-fluid p-2">
              <table class="table table-borderless">
                <tr>
                  <th>Description : </th>
                </tr>
                <tr>
                  <td style="padding: 0 20px;"><%= context.product.description %></td>
                </tr>
              </table>
            </div>
            <div class="container-fluid p-2">
              <table class="table table-borderless">
                <tr>
                  <th>Penjual : </th>
                </tr>
                <tr>
                  <td style="padding: 0 20px; color: #f23567;">@<%= context.sellerBio.username %></td>
                </tr>
              </table>
            </div>
            <div class="container-fluid p-2 mb-4 ml-0 mr-6 text-right">
              <% if (context.userAddress.length <= 0) { %>
                <a class="btn btn-primary pl-5 pr-5 pt-2 pb-2" href="/user/account/address/add"
                style="background-color: #f23567; border: #f23567;"
                onMouseOver="this.style.outline='solid 1px #f23567'; this.style.background='#f5497b'; this.style.transform= 'scale(1.1)'; this.style.transition='transform 0.3s ease'"
                onMouseOut="this.style.outline='none'; this.style.transform= 'none'; this.style.background='#f23567';">
                  Beli
                </a>
              <% } else { %>
                <form action="/buyProduct/<%= context.product.id %>" method="POST">
                  <button class="btn btn-primary pl-5 pr-5 pt-2 pb-2" type="submit" 
                  onclick="return confirm('Apakah Anda yakin ingin membeli barang ini ?')"
                  style="background-color: #f23567; border: #f23567;"
                  onMouseOver="this.style.outline='solid 1px #f23567'; this.style.background='#f5497b'; this.style.transform= 'scale(1.1)'; this.style.transition='transform 0.3s ease'"
                  onMouseOut="this.style.outline='none'; this.style.transform= 'none'; this.style.background='#f23567';">
                    Beli
                  </button>
                </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>